body {
	padding: 0;
	margin: 0;
	background-color: #808080;
	font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
	font-size: 16px;
	line-height: 20px;
}


.slide {
	width: 95%;
	height: 95%;
	display: none;
	position: absolute;
	margin: 0;
	margin-left: 0.5%;
	padding: 1% 2% 1% 2%;
  text-align: center;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
/*	background: url(images/button-gradient.png);*/
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
	min-width: 70px;
}
button:active {
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	background: none;
	background-color: #c9c9c9;
}

button[disabled] {
	background: url(zen-button.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	cursor: not-allowed;
}
/* change below for experiment */

.instructions {
  text-align: center;
  color: white;
  line-height: 1.5;
  width: 750px;
  height: 500px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}


/* class selector */
.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

.stim {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
	margin-top: -40;
	margin-left: -100;
}

.stim-text {
  text-align: center;
  font-weight: bold;
}

.patch {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 75px;
	width: 200px;
	margin-top: -40;
	margin-left: -100;
}

#red-patch {
	background-color: #E10000;
}

#green-patch {
	background-color: #19C819;
}

#blue-patch {
	background-color: #0000FF;
}

#yellow-patch {
	background-color: #E1D728;
}

#probe-instruct {
  color: white;
}

#probe-text {
  color: black;
}

#break-block {
  color: white;
  line-height: 1;
}

#feedback-text {
  color: white;
}

#welcome {
  color:white;
  line-height: 1;
  font-weight: normal;
  font-size: 16px;
}